atomicwrites
attrs
configparser
docutils
enum34
filelock
flake8
freezegun
funcsigs
mccabe
more-itertools
packaging
pathlib2
pkginfo
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
pytest-cover
pytest-coverage
pytest-redis
pytest-sugar
readme-renderer
requests-toolbelt
scandir
six
termcolor
toml
tox
tqdm
twine
virtualenv
wheel
